{% extends 'social_app/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container bg-white p-5 rounded shadow" >
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <p class="text-center mt-3">Forgot password? <a href="{% url 'forgot_password' %}">Click here</a></p>
    </form>
</div>
{% endblock %}
